openapi: 3.0.1

info:
  title: ainize-gpt2-cover-letter
  description: |
    HarryPotterFanFiction-gpt2
  contact:
    name: Ainizer - msh1273
  version: "2.0"
  license:
    name: Apache License 2.0
    url: https://github.com/huggingface/transformers/blob/master/LICENSE

servers:
  - url: https://main-gpt2-harrypotter-msh1273.endpoint.ainize.ai

paths:
  /gpt2-harrypotter/short:
    post:
      requestBody:
        required: true
        description: |
          generate your own Harry Potter fanfiction, trained off of the top 100 rated fanficition stories
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                text:
                  type: string
                num_samples:
                  type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request

        '429':
          description: Busy to server, please retry again.

        '500':
          description: Server side error

  /gpt2-harrypotter/long:
    post:
      requestBody:
        required: true
        description: |
          generate your own Harry Potter fanfiction, trained off of the top 100 rated fanficition stories
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                text:
                  type: string
                num_samples:
                  type: string
                length:
                  type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request

        '429':
          description: Busy to server, please retry again.

        '500':
          description: Server side error